<div class="column">
  <h3>{{ columnTitle }}</h3>
    <ul class="card-container"
      data-drop="true"
      data-jqyoui-options="{ hoverClass: 'hover-class' }"
      ng-model="columnItems"
      jqyoui-droppable
    >
      <li class="card" ng-repeat="item in columnItems"
        data-drag="true"
        data-jqyoui-options="{revert: 'invalid'}"
        ng-model="columnItems"
        jqyoui-draggable="{ index:{{$index}} }"
      >
        {{ item.description }}
        <br>
        <span style="float:right; margin-top: -8px;">
          <button class="move-btn" ng-show="canMoveUp($index)" ng-click="move($index, -1)">
            &#9650;
          </button>&nbsp;
          <button class="move-btn" ng-show="canMoveDown($index)" ng-click="move($index, 1)">
            &#9660;
          </button>
        </span>
      </li>
  </ul>
  <form ng-submit="addCard()">
    <input type="text" ng-model="newCardText" placeholder="Enter a card description"></input>
    <input class="add-card-btn" type="submit" value="Add Card"></input>
  </form>
</div>
