body {
  background-image: url(http://localhost:8080/src/images/background.jpg);
  background-size: cover;
}

.move-btn{
  background: none;
  border: none;
}

.move-btn:hover {
  cursor: pointer;
}

.column {
  float: left;
  background: #FCFCFC;
  display: inline-block;
  min-width: 250px;
  width: 25%;
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
}

.card-container {
  min-height: 40px;
  padding: 20px 0px 20px 0px;
}

.card {
  background-color: #FCFCFC;
  position: relative;
  box-shadow: -4px 4px #EEE;
  min-height: 25px;
  border-radius: 5px;
  border: 1px solid #BBB;
  list-style-type: none;
  padding: 5px;
  margin-bottom: 8px;
}

.card:hover {
  cursor: all-scroll;
}

.hover-class {
  background: #DDD;
}

.add-card-btn {
  background: none;
  border: 1px solid #8C8C8C;
  background-color: #59C633;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
}
